.contactContainer {
  display: flex;
  padding: 5% 0 0 10%;
  max-width: 100%;
  flex-wrap: wrap;
  flex: auto;
  flex-direction: column;
}

.contactContainer h4 {
  font-size: 2.5rem;
  color: var(--wc);
  padding-bottom: 5%;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 20px;
  z-index: 1;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.name,
.email,
.phone,
.message,
.btn {
  width: 100%;
  height: 100%;
  position: relative;
}

.name input,
.email input,
.phone input,
.message textarea {
  transition: all 0.5s ease;
  width: 95%;
  height: 70px;
  background-color: var(--bc) !important;
  border: 1px solid var(--gc);
  outline: none;
  font-size: 2em;
  color: var(--wc);
  padding: 0 0 0 5%;
}

.name:hover input,
.email:hover input,
.phone:hover input,
.message:hover textarea {
  border: 1px solid var(--wc);
}

.name,
.phone {
  width: 45%;
}

.name input,
.phone input {
  font-size: 1.5em;
}

.message textarea {
  height: 180px;
  resize: none;
  font-size: 2em;
  padding: 2% 0 0 5%;
}

.formSpan {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--gc);
  background-color: var(--bc);
  font-size: 2em;
  margin: 20px;
  cursor: text;
  text-overflow: ellipsis;
  transition: all 0.5s ease;
}

.name:hover .formSpan,
.email:hover .formSpan,
.phone:hover .formSpan,
.message:hover .formSpan {
  color: var(--wc);
  font-size: 1.5em;
  margin: 0;
  top: -15px;
  left: 15px;
  padding: 0 15px;
}

.name input:focus,
.email input:focus,
.phone input:focus,
.message textarea:focus,
input[type="email"]:-webkit-autofill {
  border: 1px solid var(--yc);
  background-color: var(--bc);
}

.name input:focus + .formSpan,
.email input:focus + .formSpan,
.phone input:focus + .formSpan,
.message textarea:focus + .formSpan,
.activeMessage {
  color: var(--yc);
  font-size: 1.5em;
  margin: 0;
  top: -15px;
  left: 15px;
  padding: 0 15px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--wc);
  transition: background-color 5000s ease-in-out 0s;
}

form .btn {
  width: 100%;
  height: 70px;
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--wc);
  border: 2px solid var(--gc);
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn:hover {
  border: 2px solid var(--yc);
  color: var(--yc);
}

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10% 0;
  width: 90%;
}

.logo {
  width: 150px;
  height: 150px;
  opacity: 0.7;
  transition: all 0.5s ease;
  border-radius: 50%;
}

.logo:hover {
  border: 1px dashed var(--yc);
  transform: scale(1.2) rotate(-360deg);
  background-color: var(--dc);
}

.man {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  form {
    width: 90%;
  }
  .formSpan {
    font-size: 1.5em;
  }
  .info {
    flex-direction: column;
    gap: 20px;
  }
  .name,
  .phone {
    width: 100%;
  }
  .name input,
  .email input,
  .phone input,
  .message textarea {
    font-size: 1.5em;
  }
  .name:hover .formSpan,
  .email:hover .formSpan,
  .phone:hover .formSpan,
  .message:hover .formSpan {
    font-size: 1em;
  }
  .name input:focus + .formSpan,
  .email input:focus + .formSpan,
  .phone input:focus + .formSpan,
  .message textarea:focus + .formSpan,
  .activeMessage {
    font-size: 1em;
  }
  .links {
    flex: auto;
  }
}
