.coverContainer {
  height: 100vh;
}

.homeCover {
  width: 100vw;
  height: 135vh;
  top: -50px;
  z-index: -1;
  position: fixed;
}

.text {
  padding: 20% 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 2.5em;
  color: var(--wc);
  transition: 0.2s ease;
  z-index: -1;
}

.text h1 {
  -webkit-text-stroke: 0.5px var(--wc);
  color: transparent;
}

.nameSpan {
  color: transparent;
  -webkit-text-stroke: 0.5px var(--dc);
}

.text h6 {
  color: var(--dc);
  font-weight: 600;
}

.textSpan {
  color: var(--dc);
}

.text h4 {
  font-weight: 300;
}

@media (max-width: 767px) {
  .homeCover {
    width: 250vw;
  }

  .text {
    font-size: 2em;
  }
}

@media (max-width: 585px) {
  .text {
    font-size: 1.5em;
    align-items: center;
    padding: 50% 0;
  }
}

@media (max-width: 320px) {
  .text {
    font-size: 1.3em;
  }
}
