.introduction {
  width: 100%;
  background-color: var(--bc);
  display: flex;
}

.infoCard {
  background-color: var(--bc);
  width: 85%;
  height: 30vh;
  position: absolute;
  left: 7.5%;
  box-shadow: 0 10px 50px #eeeeee1f;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  z-index: 999;
}

.infoCard h1 {
  color: var(--yc);
  font-size: 3rem;
  width: 60%;
}

.introduction .btn {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  position: relative;
  background-color: transparent;
  transition: 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0.6;
  color: var(--wc);
  font-size: large;
  z-index: 99999999;
}

.introduction .btn::after {
  content: "";
  border-bottom: 3px double var(--yc);
  width: 0;
  height: 100%;
  position: absolute;
  margin-top: -25px;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 1;
  transition: 0.2s linear;
}

.introduction .btn .icon {
  transform: translateX(0%);
  transition: 0.2s linear;
  animation: attention 1.2s linear infinite;
  color: var(--yc);
}

.introduction .btn:hover::after {
  opacity: 1;
  visibility: visible;
  width: 85%;
}

.introduction .btn:hover {
  letter-spacing: 2px;
  opacity: 1;
}

.introduction .btn:hover > .icon {
  transform: translateX(30%);
  animation: none;
}

@keyframes attention {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(30%);
  }
}

.introduction p {
  padding: 0 10%;
  width: 80%;
}

table {
  padding: 0 10%;
  table-layout: fixed;
  width: 100%;
}

tr {
  font-size: 1.5em;
  text-align: left;
}

th {
  padding: 1.5% 0;
  color: var(--wc);
}

th:first-child {
  text-transform: uppercase;
  color: var(--gc);
}

.linkText {
  text-decoration: none;
  color: var(--wc);
}

.cv {
  display: flex;
  justify-content: center;
  padding: 5% 0 0 0;
}

.cvBtn {
  width: 80%;
  height: 200px;
  border: 2px solid var(--gc);
  background-color: var(--bc);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  text-align: center;
  transition-duration: 1s;
  gap: 10px;
  text-decoration: none;
}

.cvBtn p {
  text-transform: uppercase;
}

.cvIcon {
  color: var(--gc);
}

.cvIcon2 {
  width: 80px;
  height: 20px;
  margin-top: -25px;
  border-bottom: 2px var(--yc) solid;
  border-left: 2px var(--yc) solid;
  border-right: 2px var(--yc) solid;
  transition-duration: 1s;
}

.cvBtn:hover {
  transition-duration: 0.3s;
  border: 2px var(--yc) solid;
}

.cvBtn:hover .cvIcon2 {
  border-bottom: 2px solid var(--wc);
  border-left: 2px solid var(--wc);
  border-right: 2px solid var(--wc);
}

.cvBtn:hover .cvIcon {
  color: var(--wc);
  animation: slide-in-top 1s linear infinite;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (max-width: 585px) {
  .infoCard h1 {
    font-size: 2rem;
    width: 80%;
  }
  tr {
    display: grid;
  }
  .cvBtn p {
    font-size: 1.5em;
  }
}
