.servicesContainer {
  display: flex;
  padding: 5% 0 0 10%;
  max-width: 100%;
  flex-wrap: wrap;
  flex: auto;
}

.logoContainer {
  max-width: 100%;
  width: 820px;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.logoContainer div {
  width: 200px;
  height: 200px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.servicesLogo {
  width: 95%;
  height: 95%;
  opacity: 0.3;
  transition: 0.8s ease;
  z-index: 999;
  border-radius: 50%;
}

.servicesLogo:hover {
  box-shadow: 0 0 20px 2px var(--gc);
  border-radius: 0;
}

.right {
  padding-right: 200px;
}

.left {
  padding-left: 200px;
}

.logoContainer h6 {
  color: var(--wc);
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
  width: 180px;
  position: absolute;
  cursor: default;
}

.servicesCard {
  width: 80%;
  height: 100%;
  display: flex;
  padding: 2% 0 0 10%;
}

.servicesLink {
  background-color: var(--dc);
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: start;
  padding: 5% 5%;
  font-size: 1.2rem;
  border: 1px solid var(--yc);
  overflow: hidden;
}

.servicesLink h3 {
  padding: 10px 0;
  color: var(--gc);
  text-transform: uppercase;
  transition: 0.7s ease;
  border-left: 2px solid var(--yc);
  padding-left: 5vw;
  position: relative;
  right: 5vw;
}

.servicesLink:hover h3 {
  right: 0;
  padding-left: 3vw;
}

.servicesLink h2 {
  border-left: 2px solid var(--gc);
  padding-left: 3vw;
  color: var(--wc);
}

@media (max-width: 994px) {
  .mainContainer {
    flex-direction: column;
  }
  .logoContainer div {
    padding: 0;
  }
}
@media (max-width: 500px) {
  .logoContainer div {
    min-width: 80vw;
    min-height: 80vw;
  }
}
