@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Josefin Sans", sans-serif;
  justify-content: center;
  align-items: center;
}
body {
  background-color: #262626;
}
header {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.logo {
  text-decoration: none;
  color: burlywood;
  font-weight: 800;
  font-size: 2.5em;
  letter-spacing: -10px;
  text-transform: uppercase;
  position: relative;
  animation: example 3s infinite alternate;
  animation-fill-mode: forwards;
  padding: 8px 150px;
  z-index: 1;
}
.nav {
  display: grid;
  position: fixed;
  top: 30%;
  right: -35px;
  border-left: 3px solid rgba(222, 184, 135, 0.815);
  background-color: #26262600;
  height: 40vh;
  z-index: 1;
  transition: 1s ease;
}
.nav a {
  color: burlywood;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.4em;
  justify-content: center;
  padding: 100% 0;
  display: flex;
  margin: 0 7px;
}
#slide {
  color: brown;
  font-size: 2em;
  top: 47%;
  right: 0;
  position: fixed;
  cursor: pointer;
  transition: 1s ease;
}
section {
  padding: 50px 50px;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  z-index: 0;
}
#home {
  animation: change 12s ease alternate infinite;
}
#home div {
  text-align: center;
  width: 100%;
  padding: 50px;
}
.blackCover {
  background-color: #08080877;
  height: 80%;
  max-width: 80%;
  border-radius: 20px;
  align-items: center;
  display: flex;
  z-index: 1;
}
#home h2 {
  color: #eaeaea;
  font-size: 2em;
  line-height: 1.6em;
  padding-top: 20%;
}
#home h2 .to {
  color: burlywood;
  font-size: 1em;
}

#home h2 span {
  color: brown;
  font-size: 1.4em;
  font-weight: 1000;
  text-transform: uppercase;
}
#home h2 .o {
  color: #eaeaea;
  font-size: 1.3em;
  animation: o 10s infinite;
}
#home h3 {
  color: #eaeaea;
  font-weight: 900;
}

#home h3 i {
  font-size: 30px;
}

.button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 5em 2.2em;
  padding: 1em 2.8em;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: burlywood;
  border: 2px solid burlywood;
  border-radius: 50px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: burlywood;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #262626;
  scale: 1.1;
  box-shadow: 0 0px 20px burlywood;
}

.button:active {
  scale: 1;
}

/* #home a {
  color: #eaeaea;
  background-color: burlywood;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin: 5em 2.2em;
  padding: 1em 2.8em;
  border-radius: 45px;
  transition: 0.8s ease;
}

#home a:hover {
  color: burlywood;
  background-color: brown;
  transform: scale(1.1);
} */

.title {
  color: #262626;
  font-size: 6em;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  letter-spacing: -7px;
  transition: 1.4s ease;
}

.title:hover {
  color: brown;
}
.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#services {
  display: grid;
}
#services .title {
  color: #eaeaea;
}
#services .title:hover {
  color: burlywood;
}
.card {
  border-radius: 30px;
  box-shadow: 0px 10px 30px hsla(39, 77%, 83%, 0.252);
  background-color: #eaeaea;
  width: 15em;
  height: 25em;
  margin: 25px;
  padding: 25px;
  transition: 0.8s ease;
  overflow: hidden;
}
.card:hover {
  transform: scale(1.1);
  background-color: brown;
}
.card:hover .info h3 {
  color: burlywood;
  transform: scale(1.2);
}

.card .info h3 {
  color: brown;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.2em;
  transition: 1s ease;
}
.card .info p {
  color: #262626;
  transition: 1s ease;
  text-align: center;
}
.card:hover .info p {
  color: #eaeaea;
}
.card .icon {
  color: burlywood;
  text-align: center;
  font-size: 8em;
  padding-bottom: 0.2em;
  padding-top: 0.3em;
  transition: 1s ease;
}

#projects {
  background-color: #eaeaea;
  display: grid;
}

.p-card {
  border-radius: 30px;
  box-shadow: 0px 5px 20px hsla(39, 77%, 83%, 0.252);
  background-color: #262626;
  width: 20em;
  height: 20em;
  margin: 25px;
  overflow: hidden;
  transition: 1s ease;
}
.p-card:hover {
  transform: scale(1.1);
}
.p-card:hover .p-img img {
  filter: blur(5px);
}
.p-card:hover a {
  margin-top: -50%;
  z-index: 1;
  color: #eaeaea;
}
.p-img img {
  height: 100%;
  width: 100%;
  transition: 1s ease;
}
.p-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-info strong {
  color: #eaeaea;
  text-transform: uppercase;
  padding-top: 20px;
  text-decoration: line-through;
}
.p-card:hover strong {
  color: #262626;
}
.p-info a {
  padding-top: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #262626;
  font-weight: 600;
  font-size: 1.2em;
  transition: 0.5s ease;
}
.p-info a:hover {
  color: brown;
  transform: scale(1.1);
}
#contact {
  background-image: url(./img/map.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
}
#contact .box {
  grid-template-columns: 1fr 1fr;
}
#contact .card {
  background-color: #262626;
  width: 20em;
  height: 20em;
}
#contact .card .icon {
  color: #eaeaea;
  margin-top: -30px;
}
#contact .card:hover .icon {
  color: burlywood;
}
#contact .card h3 {
  color: #eaeaea;
  margin-top: -10px;
}
#contact .card p {
  color: #eaeaea;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .box {
  padding-top: 5px;
}
footer h3 {
  color: #eaeaea;
  padding-left: 20px;
  display: flex;
}
footer h3 span {
  color: brown;
  padding: 0 5px;
}
footer .box a {
  padding: 0 15px 0 0;
  color: #eaeaea;
  font-size: 2.5em;
  transition: 1s ease;
}
footer .whatsapp a:hover {
  color: #25d366;
}
footer .linkedin a:hover {
  color: #0a66c2;
}
#overlay {
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 50px;
  background-color: #262626;
  z-index: 2;
  transition: opacity 2s ease-in;
}
.hidden {
  opacity: 0;
}
#overlay h1 {
  color: #eaeaea;
  padding-top: 40px;
  padding-bottom: 20px;
}
#overlay h1 span,
#overlay i {
  color: burlywood;
}
::-webkit-scrollbar {
  visibility: hidden;
  width: 0;
}
@keyframes example {
  from {
    left: -50px;
  }

  to {
    left: 50px;
    color: #262626;
  }
}
@keyframes change {
  0%,
  100% {
    background-image: url(./img/p1.jpg);
  }
  20% {
    background-image: url(./img/p2.jpg);
  }
  40% {
    background-image: url(./img/p6.jpg);
  }
  60% {
    background-image: url(./img/p4.jpg);
  }
  80% {
    background-image: url(./img/p5.jpg);
  }
}
@keyframes o {
  0% {
    color: #eaeaea;
  }
  25% {
    color: #eaeaea7a;
  }
  50% {
    color: #eaeaea00;
  }
  75% {
    color: #eaeaea7a;
  }
  100% {
    color: #eaeaea;
  }
}
@media (max-width: 1023px) {
  * {
    font-size: 1em;
    font-weight: 300;
  }
  section {
    height: 100%;
  }
  .blackCover {
    max-width: 100%;
    display: grid;
  }
  .box {
    display: flex;
    flex-direction: column;
  }
  .logo {
    letter-spacing: -5px;
    font-size: 2em;
    padding: 10px 50px;
  }
  footer .box {
    display: grid;
    font-size: 0.6em;
  }
}
